<div class="contant_sec">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="logo_img">
        <a href="#"><img src="../../assets/images/voxxi-logo.svg"></a>
      </div>
    </div>
  </div>

  <div class="middle-body-section">
    <div class="left_col">
      <img src="../assets/images/hero1.png">
    </div>
    <div class="right_col">
      <form action="">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group-contant">
                <p class="check-title">Activated</p>
                <img src="../assets/images/nav-logo.svg">
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="form-group btn-section">
              <button type="submit" class="btn btn-success" routerLink="/auth/sign-in">Login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-support-links></app-support-links>
</div>
