<div class="contant_sec">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="logo_img">
          <a href=""><img src="../../assets/images/voxxi-logo.svg"></a>
        </div>
      </div>
    </div>

    <div class="middle-body-section">
      <div class="left_col">
        <img src="../assets/images/Hero-forgot.png">
      </div>
      <div class="right_col">
        <form [formGroup]="resetPasswordForm">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <div class="form-group-contant">
                  <p class="check-title">Reset password</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group p-50 password-box">
                <!-- oninput="this.value=this.value.replace(/^\s+/g, '')" -->
                <input [type]="pwPasswordType" class="form-control password-field-px"
                  id="pwd" placeholder="Password" name="pswd" formControlName="password" [ngClass]="{'border-danger':passwordLengthError}" (keyup)="checkPasswordLength()" [(ngModel)]="password">
                <div class="view-password">
                  <img *ngIf="pwPasswordType === 'password'" src="../../../../assets/images/eye.svg" (click)="pwPasswordType = 'text'">
                  <img *ngIf="pwPasswordType === 'text'" src="../../../../assets/images/eye-cross.svg" (click)="pwPasswordType = 'password'"> 
                </div>
                 <!-- IF PASSWORD LENGTH ERROR  -->
                 <div *ngIf="passwordLengthError">
                  <div *ngIf="password.length < passwordMinLength" class="error-message">Password must be greater than {{passwordMinLength}} characters</div>
                  <div *ngIf="password.length > passwordLength" class="error-message">Password must be less than {{passwordLength}} characters</div>
                </div>
                <div *ngIf="submitted && form.password.errors">
                  <div class="error-message" *ngIf="form.password.errors.required">Password is required </div>
                  <div class="error-message"
                    *ngIf="form.password.errors.pattern && (form.password.dirty || form.password.touched)"> Password
                    should be minimum 8 characters long including uppercase, lowercase, digits and special
                    character
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group p-50 re-password-box">
                <!-- oninput="this.value=this.value.replace(/^\s+/g, '')" -->
                <input [type]="confirmPasswordType" class="form-control password-field-px"
                  id="pwd" placeholder="Retype Password" name="pswd" formControlName="confirmPassword">
                  <div class="view-password">
                    <img *ngIf="confirmPasswordType === 'password'" src="../../../../assets/images/eye.svg" (click)="confirmPasswordType = 'text'">
                    <img *ngIf="confirmPasswordType === 'text'" src="../../../../assets/images/eye-cross.svg" (click)="confirmPasswordType = 'password'"> 
                  </div>
                <!-- PASSWORD VALIDATION  -->
                <div *ngIf="submitted && form.confirmPassword.errors">
                  <div class="error-message" *ngIf="form.confirmPassword.errors.required">Confirm password is required
                  </div>
                  <div class="error-message"
                    *ngIf="form.confirmPassword.errors.confirmedValidator && (form.confirmPassword.dirty || form.confirmPassword.touched)">
                    Your passwords do not match, please try again or use the 'View Password' option to see where the difference is.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="form-group p-50 btn-section">
                <button type="submit" class="btn btn-success" (click)="submit()" [disabled]="disableButtonForInvalidPassword">
                 <span *ngIf="disableButtonForInvalidPassword" class="btn-loader open"></span> 
                 <span *ngIf="!disableButtonForInvalidPassword">Submit</span></button>
                <button type="submit" class="btn btn-danger" routerLink="/auth/sign-in">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <app-support-links></app-support-links>
</div>

<!-- Reset Password Link -->

<!-- <div class="contant_sec" *ngIf="!isVerified">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="logo_img">
          <a href="#"><img src="../../assets/images/voxxi-logo.svg"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="left_col">
          <img src="../assets/images/Hero-forgot.png">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="right_col">
          <form action="">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="form-group-contant">
                    <p class="check-title">Reset password</p>
                    <p>Please Check your email to activate your account</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" routerLink="/forgot-pass-link">Ok</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="footer">
          <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms of Service</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->
