@import "../../../../SCSS/custom-variable";

.middle-body-section {
  padding-top: 42px;
}

.contant_sec {
  .left_col {
    img {
      padding-left: 35px;
      float: left;
      padding-right: 70px;
    }
  }

  .right_col {
    margin-top: 95px;
  }

  .form-group {
    .form-group-contant {
      width: 100%;
      float: left;
      text-align: center;
      margin-bottom: 20px;

      .check-title {
        font-size: $wlc_title;
        font-family: $RobotoRegular;
        margin-bottom: 45px;
        color: $box_txt_color;
      }
    }

    .btn-success {
      float: left;
      font-size: $box_btn;
      font-family: $RobotoMedium;
    }

    .btn-danger {
      float: right;
      font-size: $box_btn;
      font-family: $RobotoMedium;
    }
  }

  .p-50 {
    // padding: 0 40px;
  }
}

#pwd::-webkit-input-placeholder {
  color: $box_txt_color !important;
}

#pwd:-ms-input-placeholder {
  color: $box_txt_color !important;
}

#pwd::placeholder {
  color: $box_txt_color !important;
}

@media(max-width:1199.98px) {
  .contant_sec {
    .right_col {
      //   padding: 0 30px;
    }

    .p-50 {
      padding: 0px;
    }
  }
}

@media(max-width:991px) {
  .contant_sec {
    .left_col {
      img {
        padding: 0;
      }
    }

    .right_col {
      margin-top: 30px;
    }
  }
}

@media(max-width:767px) {
  .contant_sec {
    .left_col {
      text-align: center;

      img {
        padding-left: 0;
        float: none;
      }
    }

    .right_col {
      padding: 0px;
    }
  }
}































.password-box{
  position: relative;
  .view-password{
    position: absolute;
    top: 13px;
    right: 25px;
    cursor: pointer;
    img{
      width: 23px;
      object-fit: contain;
    }
  }
}

.re-password-box{
  position: relative;
  .view-password{
    position: absolute;
    top: 13px;
    right: 25px;
    cursor: pointer;
    img{
      width: 23px;
      object-fit: contain;
    }
  }
}


@media(min-width:1270px) {
  .logo_img {
    margin: 45px 0 0px;

    a {
      img {
        width: 260px;
        margin-left: -5px;
      }
    }
  }

  .middle-body-section {
    padding-top: 90px;

    .left_col {
      padding-right: 0px;

      img {
        width: 460px;
        height: 479px;
        margin-top: -45px;
        padding-left: 29px;
      }
    }

    .right_col {
      padding-top: 0;
      margin-right: 30px;
      margin-top: 50px;
      width: 435px;

      .form-group-contant {
        margin-bottom: 18px;

        .check-title {
          padding: 0px 10px 0 0;
          text-transform: capitalize;
        }
      }

      .password-box{
        .form-control {
          padding: 4px 10px 0px 14px;
        }
      }

      .re-password-box{
        .form-control {
          padding: 4px 10px 0px 14px;
        }
      }

      .btn-section {
        margin-top: 5px;
        .btn-success {

        }

        .btn-danger {
          padding-left: 7px;
          width: 180px;
        }
      }

    }

  }

}
