@import "../../../../../SCSS/custom-variable";

.right-side-section {
  width: 100%;
  background-color: $white;
  box-shadow: 0px 0px 0px 1px $text-secondary inset;
  border-radius: 8px;
  // height: calc(100vh - 90px);
  // overflow-y: auto;
  margin-bottom: 20px;
}

@media(min-width:768px){
  app-sidebar-menu{
    position: sticky;
    top: 70px;
    height: 500px;
  }
}

@media(max-width:767px) {
  .contnet-section {
    display: block !important;
  }
}

@media(max-width:575px) {
  .contnet-section {
    padding: 0px 15px;
  }
}

.box-layout-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 6px;

  .box-layout {
    box-shadow: 0px 0px 0px 1px $text-secondary inset;
    background-color: $bg_color;
    border-radius: 8px;
    padding: 10px 20px;
    width: 280px;
    margin: 10px 7.5px;
    height: 150px;

    .box-ttl {
      color: $box_txt_color;
      font-size: $title;
      font-family: $RobotoRegular;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .sub-ttl {
      border-bottom: 1px solid $text-secondary;
      padding: 5px 0px;
    }

    .user-txt {
      color: $box_txt_color;
      font-size: $inputtxt;
      font-family: $RobotoRegular;
    }

    .total-ttl {
      margin-top: 5px;
    }

  }
}

// media query

@media(max-width:1200px) {
  .box-layout-wraper {
    .box-layout {
      width: 230px;
    }
  }
}

@media(max-width:767px) {

  .contnet-section {
    display: block !important;

    .left-side-section {
      width: 100%;
      padding-right: 0;
    }

    .right-side-section {
      width: 100%;
    }
  }
}

@media(max-width:575px) {
  .contnet-section {
    padding: 0px 15px;
  }

  .box-layout-wraper {
    .box-layout {
      width: 100%;
    }
  }

  .cursorPointer {
    cursor: pointer;
  }
}

.link-box{
  cursor: pointer;
}

.indicater-txt{
  color: $btn_bg_danger !important;
}