@import "../../../../../../../SCSS/custom-variable";

.tab-inner-section {
  background-color: $white;
  border-radius: 8px;
  min-height: auto;
  border-top-right-radius: 0px;
  border: 1px solid $text-secondary;
  border-top-left-radius: 0px;
  border-top: 0;
}

// Profile My workspaces css box layout

.tab-inner-section {
  &.workplace-inner-section {
    padding: 0;
  }

  .main-ttl {
    color: $box_txt_color;
    font-size: $title;
    font-family: $RobotoMedium;
    text-transform: uppercase;
    padding: 15px 15px 5px 15px;
  }

  p {
    color: $black;
    font-size: $box_small_text;
    font-family: $RobotoRegular;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .workspace-banner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    .img-box {
      border: 1px solid $text-secondary;
      border-radius: 8px;
      width: 270px;
      margin: 10px;

      .img-wraper {
        height: 150px;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          object-fit: cover;
          object-position: center;
        }
      }

      .img-detail {
        padding: 15px 10px 0px 10px;
        cursor: pointer;

        .img-ttl {
          font-family: $RobotoRegular;
          font-size: $title;
          text-transform: uppercase;
        }

        .img-description {
          font-family: $RobotoRegular;
          font-size: $edit-lbl;
          padding: 5px 0px 15px 0px;
          text-transform: capitalize;
        }

        .bottom-section {
          .img-sub-ttl {
            font-family: $RobotoRegular;
            font-size: $box_small_text;
            text-transform: capitalize;
          }

          .rate-section {
            img {
              margin: 0px 1px;
            }
          }
        }
      }
    }

    .cursorPointer {
      cursor: pointer;
    }
  }
}

@media(max-width:1200px) {
  .workspace-banner-section {
    .img-box {
      width: 215px !important;
    }
  }
}

@media(max-width:575px) {
  .workspace-banner-section {
    .img-box {
      width: 100% !important;
    }
  }
}




















// Profile My Apps – 3 css

.edit-restore-workspace-modal {

  .modal-body {
    position: relative;
    padding: 0;

    .close-icon {
      position: absolute;
      top: -8px;
      right: -8px;
      cursor: pointer;
    }
  }

  .edit-profile-section {
    .main-ttl {
      color: $black;
      font-size: $title;
      font-family: $RobotoRegular;
      text-transform: uppercase;
      padding: 19px 25px 0px 25px;
    }

    .form-section {
      padding: 20px;

      .user-field-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;

        .left-section {
          width: 100%;

          label {
            color: $black;
            font-size: $title;
            font-family: $RobotoRegular;
            margin-bottom: 0px;
            line-height: 16px;
            margin-left: 5px;
            width: auto;
            display: flex;
            align-items: center;
            text-transform: uppercase;
          }

          .tooltip-section {
            display: flex;
            margin-left: 5px;

            .tooltip-inner-section {
              background-color: $tooltip-bg;
              border-radius: 8px;
              padding: 10px;
              position: relative;
              margin-left: 12px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                left: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                top: 7px;
                border-color: transparent #f7f5c3 transparent #a000;
                border-width: 10px;
              }

              p {
                color: $black;
                font-family: $RobotoRegular;
                font-size: $box_small_text;
                line-height: 14px;
                margin-bottom: 0;
                text-transform: capitalize;
              }
            }
          }
        }

        .right-section {
          width: 100%;

          .form-control {
            border-radius: 4px;
            border: 1px solid $text-secondary-dark;
            padding: 4px 20px;
            color: $black;
            font-size: $title;
            font-family: $RobotoRegular;
            height: auto;
            resize: none;

            &::placeholder {
              color: $black !important;
              font-size: $title !important;
              font-family: $RobotoRegular !important;
            }
          }
        }
      }

      .img-section {
        display: flex;
        margin-bottom: 10px;

        .img-ttl {
          color: $black;
          font-size: $title;
          font-family: $RobotoRegular;
          margin-bottom: 0px;
          line-height: 16px;
          margin-left: 0px;
          width: auto;
          display: flex;
          align-items: center;
          text-transform: uppercase;

          .tooltip-section {
            display: flex;
            margin-left: 5px;

            .tooltip-inner-section {
              background-color: $tooltip-bg;
              border-radius: 8px;
              padding: 10px;
              position: relative;
              margin-left: 12px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                left: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                top: 7px;
                border-color: transparent $tooltip-bg transparent #a000;
                border-width: 10px;
              }

              p {
                color: $black;
                font-family: $RobotoRegular;
                font-size: $box_small_text;
                line-height: 14px;
                margin-bottom: 0;
                text-transform: capitalize;
              }
            }
          }

        }
      }

      .upload-img-section {
        display: flex;
        align-items: center;

        .upload-img-section-inner {
          position: relative;
          width: 125px;

          button {
            color: $white;
            font-size: $title;
            font-family: $RobotoMedium;
            background-color: $btn_bg_success;
            border: 1px solid $btn_bg_success;
            border-radius: 15px;
            height: 30px;
            padding: 0px 16px;
          }

          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }

        p {
          color: $black;
          font-size: $box_small_text;
          margin-bottom: 0;
          margin-left: 22px;
        }
      }

      .img-box {
        margin-bottom: 15px;

        img {
          width: 100%;
          height: 195px;
          border-radius: 8px;
          object-fit: cover;
          object-position: center;
        }
      }

      .category-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        .left-section {
          width: 100%;
          padding-top: 30px;

          label {
            color: $black;
            font-size: $title;
            font-family: $RobotoRegular;
            margin-bottom: 0px;
            line-height: 16px;
            margin-left: 5px;
            width: auto;
            display: flex;
            align-items: center;
            text-transform: uppercase;
          }

          .tooltip-section {
            display: flex;
            margin-left: 5px;

            .tooltip-inner-section {
              background-color: $tooltip-bg;
              border-radius: 8px;
              padding: 10px;
              position: relative;
              margin-left: 12px;

              &::before {
                content: "";
                display: block;
                position: absolute;
                left: -20px;
                width: 0;
                height: 0;
                border-style: solid;
                top: 7px;
                border-color: transparent $tooltip-bg transparent #a000;
                border-width: 10px;
              }

              p {
                color: $black;
                font-family: $RobotoRegular;
                font-size: $box_small_text;
                line-height: 14px;
                margin-bottom: 0;
                text-transform: capitalize;
              }
            }
          }
        }

        .right-section {
          width: 100%;
          position: relative;

          img {
            position: absolute;
            top: 14px;
            right: 10px;

          }

          .form-control {
            border-radius: 4px !important;
            border: 1px solid $text-secondary-dark !important;
            padding: 4px 20px !important;
            color: $black !important;
            font-size: $title !important;
            font-family: $RobotoRegular !important;
            height: auto;
            resize: none;
            display: flex;

            &::placeholder {
              color: $black !important;
            }
          }
        }
      }

      .user-txt-wraper {

        .user-inner-wraper {
          width: 100%;
          margin-bottom: 40px;

          .sub-ttl {
            color: $black;
            font-size: $title;
            font-family: $RobotoRegular;
            margin-bottom: 5px;
            line-height: 16px;
            width: auto;
            display: flex;
            align-items: center;
            text-transform: uppercase;

            .tooltip-section {
              display: flex;
              margin-left: 5px;

              .tooltip-inner-section {
                background-color: $tooltip-bg;
                border-radius: 8px;
                padding: 10px;
                position: relative;
                margin-left: 12px;

                &::before {
                  content: "";
                  display: block;
                  position: absolute;
                  left: -20px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  top: 7px;
                  border-color: transparent $tooltip-bg transparent #a000;
                  border-width: 10px;
                }

                p {
                  color: $black;
                  font-family: $RobotoRegular;
                  font-size: $box_small_text;
                  line-height: 14px;
                  margin-bottom: 0;
                  text-transform: capitalize;
                }
              }
            }

          }

          .check-container {
            display: block;
            position: relative;
            padding-left: 25px;
            margin-bottom: 10px;
            cursor: pointer;
            font-size: $box_small_text;
            color: $black;
            font-family: $RobotoRegular;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .check-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: transparent;
            border: 1px solid $border-color;
            border-radius: 4px;
          }

          .check-container input:checked~.checkmark {
            background-color: #2196F3;
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          .check-container input:checked~.checkmark:after {
            display: block;
          }

          .check-container .checkmark:after {
            left: 4px;
            top: 1px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          .user-note {
            font-size: $box_small_text;
            color: $black;
            font-family: $RobotoRegular;
            padding-left: 25px;

            span {
              font-family: $RobotoBoldItalic;
            }

          }

        }
      }

    }
  }

  .modal-footer {
    padding-top: 0;
    border: none;
  }

  .btn-section {
    button {
      border: 1px solid $text-secondary;
      font-size: $title;
      font-family: $RobotoMedium;
      height: 30px;
      border-radius: 13px;
      margin-left: 10px;
      padding: 0px 12px;

      &:first-child {
        margin-left: 0;
      }

      &.green-btn {
        color: $white;
        background-color: $btn_bg_success;
        border: 1px solid $btn_bg_success;
      }

      &.blue-btn {
        color: $white;
        background-color: $text-primary-color;
        border: 1px solid $text-primary-color;
      }
    }
  }
}


@media(max-width:991px) {
  .edit-profile-section {
    .form-section {
      .img-section {
        .upload-img-section {
          display: block !important;

          p {
            margin-left: 0;
          }
        }
      }
    }
  }
}




































































































// <!-- Grid record – 1 start -->

.grid-record-img-modal {
  .modal-header {
    padding: 12px 20px 15px 16px;
    border-bottom: 1px solid $text-secondary;
    background-color: $bg_color;

    .modal-title {
      color: $box_txt_color;
      font-size: $title;
      font-family: $RobotoRegular;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding: 20px 20px 30px 20px;

    .ttl {
      color: $box_txt_color;
      font-size: $box_small_text;
      font-family: $RobotoRegular;
      margin-bottom: 15px;
      text-align: center;
    }

    .access-section {
      display: flex;

      .access-section-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 170px;
        margin: 0 auto;

        img {
          height: 130px;
        }

        label {
          color: $box_txt_color;
          font-size: $box_small_text;
          font-family: $RobotoRegular;
          margin-bottom: 5px;
        }

        p {
          color: $box_txt_color;
          font-size: $sub-ttl;
          font-family: $RobotoRegular;
          line-height: 14px;
          text-align: center;
          margin-bottom: 15px;
          padding: 0px 10px;
        }

        button {
          color: $white;
          font-size: $edit-lbl;
          font-family: $RobotoMedium;
          border-radius: 15px;
          background-color: $btn_bg_success;
          border: 1px solid $btn_bg_success;
          width: 100%;
          padding: 5px 10px;
        }
      }

      .invite-people-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: calc(100% - 170px);
        margin: 0 auto;

        img {
          height: 130px;
        }

        label {
          color: $box_txt_color;
          font-size: $box_small_text;
          font-family: $RobotoRegular;
          margin-bottom: 5px;
        }

        p {
          color: $box_txt_color;
          font-size: $sub-ttl;
          font-family: $RobotoRegular;
          line-height: 14px;
          text-align: center;
          margin-bottom: 15px;
          padding: 0px 10px;
          max-width: 160px;
        }

        button {
          color: $white;
          font-size: $edit-lbl;
          font-family: $RobotoMedium;
          border-radius: 15px;
          background-color: $btn_bg_success;
          border: 1px solid $btn_bg_success;
          width: 100%;
          padding: 5px 10px;
        }
      }
    }

  }

}


















































// <!-- Grid record – 4 start -->

.grid-record-modal {
  .modal-header {
    padding: 12px 20px 15px 16px;
    border-bottom: 1px solid $text-secondary;
    background-color: $bg_color;

    .modal-title {
      color: $box_txt_color;
      font-size: $title;
      font-family: $RobotoRegular;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding: 17px 20px 19px 20px;

    p {
      color: $box_txt_color;
      font-size: $box_small_text;
      font-family: $RobotoRegular;
      margin-bottom: 8px;
    }

    .user-type-drop-down {
      position: relative;
      margin-bottom: 27px;

      .form-control {
        border: 1px solid $text-secondary;
        border-radius: 4px;
        padding: 0;
        font-size: $box_small_text;
        color: $text-secondary;
        font-family: $RobotoRegular;
        padding: 0px 20px;
        height: auto;

        &::placeholder {
          font-size: $box_small_text !important;
          color: $text-secondary !important;
        }
      }

      img {
        position: absolute;
        right: 10px;
        top: 8px;
      }
    }

    .user-msg-section {
      margin-bottom: 23px;

      .form-control {
        border: 1px solid $text-secondary;
        border-radius: 4px;
        padding: 0;
        font-size: $box_small_text;
        color: $text-secondary;
        font-family: $RobotoRegular;
        padding: 0px 20px;
        height: auto;
        resize: none;

        &::placeholder {
          font-size: $box_small_text !important;
          color: $text-secondary !important;
        }
      }
    }

    .user-role-section {
      display: flex;
      align-items: center;

      label {
        color: $box_txt_color;
        font-size: $box_small_text;
        font-family: $RobotoRegular;
        margin-bottom: 0;
      }

      .custom-drop {
        position: relative;
        width: 120px;
        margin-left: 15px;

        label {
          color: $box_txt_color;
          font-size: $box_small_text;
          font-family: $RobotoRegular;
          margin-bottom: 0;
          margin-right: 15px;
        }

        .role-option {
          position: absolute;
          top: 22px;
          left: -15px;
          border-radius: 4px;
          border: 1px solid #D6D6D6;
          background-color: #fff;

          ul {
            padding: 2px 0px;

            li {
              color: $box_txt_color;
              font-size: $box_small_text;
              font-family: $RobotoRegular;
              cursor: pointer;
              padding: 2px 10px;
            }
          }

        }
      }
    }

  }

  .modal-footer {
    padding-top: 0;
    border: none;

    button {
      color: $white;
      font-size: $edit-lbl;
      font-family: $RobotoMedium;
      background-color: $btn_bg_success;
      border-radius: 15px;
      border: 1px solid $btn_bg_success;
      padding: 5px 50px;
      margin: 0;
    }
  }

}
