.color-59ADFF {
  color: #59ADFF;
}

.color-686868 {
  color: #686868;
}

.color-34AD05 {
  color: #34AD05;
}

.color-FC4850 {
  color: #FC4850;
}

.color-fff {
  color: #fff;
}

.color-59ADFF {
  color: #59ADFF;
}

.color-C3C3C3 {
  color: #C3C3C3;
}

.color-000 {
  color: #000;
}

.color-888888 {
  color: #888888;
}
