.button button{
    font-family: "RobotoRegular" !important;
    border-radius: 25px !important;
    display: unset;
    min-height: auto;
    padding: 5px 15px;
    width: auto;
    line-height: unset;
    border: 0px;
    }

    .userCouponValue{
        letter-spacing: 1px;
    }