@import "../../../../../../SCSS/custom-variable";

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .ttl {
    color: $black;
    text-transform: uppercase;
    font-family: $RobotoRegular;
    font-size: $box_txt;
  }

  button {
    font-size: $box_txt;
    font-family: $RobotoRegular;
    border-radius: 25px;
    display: unset;
    min-height: auto;
    padding: 5px 15px;
    width: auto;
    background-color: $btn_bg_success;
    color: $white;
    line-height: unset;
    margin: 0;
  }
}

.body-section {
  padding: 0 20px;

  .table-responsive {
    border: 1px solid $text-secondary;
    border-radius: 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    .cursor-pointer {
      cursor: pointer;
    }
  }

  table {
    margin: 0;

    tr {
      th {
        border-top: none;
        border-bottom: 1px solid $dark-bg;
        font-size: $title;
        font-family: $RobotoRegular;
        color: $box_txt_color;
        background-color: $bg_color;
        padding: 10px 15px;
      }

      td {
        font-size: $title;
        font-family: $RobotoRegular;
        color: $box_txt_color;
        padding: 10px 15px;

        .send-btn {
          background-color: $btn_bg_success;
          color: $white;
          border: none;
          border-radius: 25px;
          padding: 2px 15px;
          text-transform: capitalize;
          font-size: $title;
          font-family: $RobotoRegular;
        }
      }
    }
  }
}
