<!-- <app-header></app-header> -->
<div class="contnet-section d-flex">
  <!-- <app-left-sidebar-menu></app-left-sidebar-menu> -->
  <!-- <div class="bottom-chat-section">
    <label>
      Chat (23)
    </label>
    <div class="icon-section">
      <img src="../../../../../../assets/images/setting.svg">
      <img src="../../../../../../assets/images/setting.svg">
    </div>
  </div> -->
  <div class="right-full-section">
    <div class="org-user-management-section">
      <img src="../../../../../../assets/images/Close-icon.svg" class="close-btn" (click)="closeModal(1)">
      <div class="main-ttl">
        {{ IsEmployee ? 'Employee' : 'User' }} Management
      </div>
      <div class="top-section w-100">
        <div class="w-100 d-flex flex-wrap">
          <!-- <button
          *ngIf="helperService.orgRole && (helperService.orgRole!='light_member' || homeService.wsRole!='light_member') && helperService.orgRole=='admin'" -->
          <button
          class="invite-btn mb-10px-imp" (click)="openModal(template)">
          Invite {{ IsEmployee ? 'Employee' : 'Users' }}
        </button>
        <div class="search-section mb-10px-imp">
          <input type="text" class="form-control" id="usr" placeholder="Search" (keyup)="search($event)">
          <img src="../../../../../../assets/images/search.svg">
        </div>
        <!-- <label class="seat-txt" *ngIf="IsEmployee && totalSeats>0">Using {{ availableSeats }} seats of {{ totalSeats }} seats available</label> -->
        <!-- <label class="seat-txt ml-auto mb-10px-imp">Using {{ availableSeats }} seats of {{ totalSeats }} group seats available</label> -->
        </div>
       
        <div class="custom-drop-down mb-10px-imp" *ngIf="!IsEmployee">
          <select id="sel1" (change)="getRole($event)">
            <option [value]="">Select Role</option>
            <option *ngFor='let user of roleList' [value]="user">{{ user.replace('_', ' ') }}</option>
          </select>
        </div>
        <div class="select-all-section mb-10px-imp" *ngIf="!IsEmployee">
          <label class="check-container">Select all
            <input type="checkbox" (click)="doSelectAll()" [checked]="isSelectAll">`
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="remove-user-btn mb-10px-imp" (click)="removeUsers()" *ngIf="!IsEmployee && (helperService.orgRole && helperService.orgRole=='admin')">
          <img src="../../../../../../assets/images/delete.svg">
          Remove User
        </div>
      </div>
      <div class="table-section mb-10px-imp">
        <div class="table-responsive">
          <table class="table table-actions-nav">
            <thead>
              <tr>
                <th>
                  <label class="check-container">
                    <input type="checkbox" (click)="doSelectAll()" [checked]="isSelectAll">
                    <span class="checkmark"></span>
                  </label>
                </th>
                <th class="text-left user-name">
                  User Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Type
                </th>
                <th *ngIf="!IsEmployee">
                  Status
                </th>
                <!-- <th class="action-section" *ngIf="helperService.orgRole && helperService.orgRole=='admin'">
                  Actions
                </th> -->
                 <th class="action-section">
                  Actions
                </th>
                <th class="last-seen-section">
                  Last Seen
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of IsEmployee ? employeeList : IsWorkspaceUserManagement ? workspaceUserManagementList : userManagementList">
                <style *ngIf="checkIsUserManagementAccess(item.user_id._id,item.role)">
                  .table-actions-nav .action-section,
                  .table-actions-nav .action-container{
                    display: revert!important;
                  }
                </style>
                <td>
                  <label class="check-container" *ngIf="item.user_id._id !== userData.owner">
                    <input type="checkbox" (click)="checkSelectAll(item)" [checked]="item.isChecked">
                    <span class="checkmark"></span>
                  </label>
                </td>
                <td>
                  <div class="user-wraper">
                    <div class="user-img">
                      <img
                        [src]="item.user_id.avatar ? mediaUrl + item.user_id.avatar : '../../../../../../assets/images/user.png'">
                    </div>
                    <label class="mb-0" *ngIf="item.user_id.firstName">
                      {{ item.user_id.firstName + ' ' + item.user_id.lastName }}
                    </label>
                  </div>
                </td>
                <td>
                  {{ item.user_id.email }}
                </td>
                <td>
                  {{ item.role === 'admin' ? 'Administrator' : item.role === 'light_member' ? 'Lite Member' : item.role === 'member' ? 'Member' : '' }}
                </td>
                <td *ngIf="!IsEmployee">
                  {{ item.user_id._id ? 'Registered' : '' }}
                </td>
                <!-- <td *ngIf="helperService.orgRole && helperService.orgRole=='admin'"> -->
                <td class="action-container">
                  <!-- <div class="custom-drop-down" (click)="item.showActions = !item.showActions"> -->
                  <div class="custom-drop-down" (click)="showActionsPopup(item)">
                    Action
                    <img src="../../../../../../assets/images/drop-down-icon.svg">
                    <div class="custom-drop-down-inner-section" *ngIf="item.showActions">
                      <ul>
                        <li>
                          Action <span class="close-icon"><img
                              src="../../../../../../assets/images/dark-cancel.svg"></span>
                        </li>
                        <li (click)="goToUserWorkspaces()"
                          *ngIf="item.user_id._id !== '' && !IsWorkspaceUserManagement">
                          Show all workspaces
                        </li>
                       
                        <li *ngIf="!IsWorkspaceUserManagement && item.user_id._id !== userData.owner && (helperService.orgRole && helperService.orgRole=='admin')"
                          (click)="removeFromWorkspace(item)">
                          Remove from Organization
                        </li>
                        <li *ngIf="IsWorkspaceUserManagement && item.user_id._id !== userData.owner && (helperService.orgRole && helperService.orgRole=='admin')"
                          (click)="removeFromWorkspace(item)">
                          Remove from Workspace
                        </li>

                        <!-- Workspace permission -->
                        
                        <div
                          *ngIf="item.user_id._id && IsWorkspaceUserManagement && (helperService.orgRole && helperService.orgRole=='admin' || homeService.wsRole=='admin')">
                          <!-- || item.role === 'light_member' -->
                          <li *ngIf="item.role === 'member' || item.role === 'light_member'"
                            (click)="changeRole('admin', item)">
                            Make Administrator
                          </li>
                          <!-- || item.role === 'light_member' -->
                          <li *ngIf="item.role === 'admin' || item.role === 'light_member'"
                            (click)="changeRole('member', item)">
                            Make Member
                          </li>

                          <!-- (authUserPlan === 'pro' || authUserPlan === 'plus') -->
                          <li *ngIf="(item.role === 'admin' || item.role === 'member')"
                            (click)="changeRole('light_member', item)">
                            Make Lite Member
                          </li>
                        </div>
                        <!-- organization permission -->
                        <div
                          *ngIf="item.user_id._id && !IsWorkspaceUserManagement  && (helperService.orgRole && helperService.orgRole=='admin')">
                          <li *ngIf="item.role === 'member' || item.role === 'light_member'"
                            (click)="changeRole('admin', item)">
                            Make Administrator
                          </li>
                          <li *ngIf="item.role === 'admin' || item.role === 'light_member'"
                            (click)="changeRole('member', item)">
                            Make Member
                          </li>
                          <li *ngIf="(item.role === 'admin' || item.role === 'member')"
                            (click)="changeRole('light_member', item)">
                            Make Lite Member
                          </li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="date-block">
                    {{ item.user_id.lastSeen | date:'dd LLL yyyy, hh:mm aaa' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title"> Workspace Member </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(2)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="text-align: center">
    <div class="user-box-wraper">
      <div class="input-group"
        *ngFor="let item of IsWorkspaceUserManagement ? selectedEmployeeForWorkspaceInvite : selectedEmployeeForInvite">
        <div *ngIf="item.isAdded" class="user-box">
          {{ item.firstName ? item.firstName + ' ' + item.lastName : item.email }} 
          <!-- |
          {{ item.role === 'member' ? 'Member' : item.role }}  -->
          <img (click)="removeSelectedEmployeeForInvite(item)"
            src="../../../../../../assets/images/Close-icon.svg">
        </div>
      </div>
    </div>
    <div class="input-group">
      <input type="text" oninput="this.value=this.value.replace(/^\s+/g, '')" class="form-control"
        placeholder="Type Email / Name" autocomplete="off" (keyup)="getKeyword($event)" [(ngModel)]="inputedData">
    </div>
    <div *ngIf="IsWorkspaceUserManagement">
      <div *ngIf="employeeListForWorkspaceInvite?.length > 0">
        <div *ngFor="let item of employeeListForWorkspaceInvite">
          <div class="add-section">
            <div class="input-group" *ngIf="!item.isAdded && !item.inviteByEmail">
              <label>
                {{ item.user_id.firstName + ' ' + item.user_id.lastName }}
              </label>
              <div class="action-section">
                <div class="custom-drop-down">
                  <select id="sel1" [ngModel]="item.role" (change)="getRole($event, item)">
                    <option value="">Select Role</option>
                    <option *ngFor='let user of roleList' [value]="user">{{ user.replace('_', ' ') }}</option>
                  </select>
                  <img src="../../../../../../assets/images/drop-down-icon.svg">
                </div>
                <button (click)="selectEmployeeForInvite(item)" [disabled]="item.role === ''">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="employeeListForWorkspaceInvite?.length === 0 && inputData?.length >= 3">
        <div class="add-section">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="inputedData">
            <div class="action-section">
              <button (click)="selectEmployeeForInvite()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!IsWorkspaceUserManagement">
      <div *ngIf="employeeListForInvite?.length > 0">
        <div *ngFor="let item of employeeListForInvite">
          <div class="add-section">
            <div class="input-group" *ngIf="!item.isAdded && !item.inviteByEmail">
              <label>
                {{ item.firstName + ' ' + item.lastName }}
              </label>
              <div class="action-section">
                <div class="custom-drop-down">
                  <select id="sel1" [ngModel]="item.role" (change)="getRole($event, item)">
                    <option value="">Select Role</option>
                    <option *ngFor='let user of roleList' [value]="user">{{ user.replace('_', ' ') }}</option>
                  </select>
                  <img src="../../../../../../assets/images/drop-down-icon.svg">
                </div>
                <button (click)="selectEmployeeForInvite(item)" [disabled]="item.role === ''">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="employeeListForInvite?.length === 0 && inputData?.length >= 3">
        <div class="add-section">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="inputedData">
            <div class="action-section">
              <button (click)="selectEmployeeForInvite()">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-section">
      <button type="button" class="gray-btn" (click)="closeModal(2)">Close</button>
      <button type="button" class="green-btn" (click)="inviteUser()"
        [disabled]="IsWorkspaceUserManagement ? selectedEmployeeForWorkspaceInvite?.length === 0 :  selectedEmployeeForInvite?.length === 0">Save</button>
    </div>
  </div>
</ng-template>
