<app-header></app-header>

<div class="contnet-section d-flex">

  <app-left-sidebar-menu></app-left-sidebar-menu>
  <app-chat></app-chat>

  <div class="bottom-chat-section">
    <label>
      Chat (23)
    </label>
    <div class="icon-section">
      <img src="../../../../../../assets/images/setting.svg">
      <img src="../../../../../../assets/images/setting.svg">
    </div>
  </div>

  <div class="right-full-section">
    <div class="emploees-content">
      <div class="row">
        <div class="col-lg-12">
          <div class="emploees-body">
            <h2>Employee Management</h2>
            <img src="../../../../../../assets/images/Close-icon.svg" class="close-icon">
            <div class="invite-div">
              <button class="btn btn-success">Invite Employee</button>
              <div class="invite-input">
                <input type="text" class="form-control" id="firstname" placeholder="Search">
                <img src="../../../../../../assets/images/search.svg">
              </div>
            </div>
            <div class="table-responsive">
              <table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></th>
                    <th class="th-sm user-name">User Name
                    </th>
                    <th class="th-sm">Email
                    </th>
                    <th class="th-sm">Type
                    </th>
                    <th class="th-sm">Status
                    </th>
                    <th class="th-sm">Actions
                    </th>
                    <th class="th-sm">Last Seen
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
                  <tr>
                    <td><label class="user-checkin">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></td>
                    <td><img src="../../../../../../assets/images/avatar.png" class="profole-img">Aaron Smithsonionism</td>
                    <td>aaron@my-domain.com</td>
                    <td>Administrator</td>
                    <td>Registered</td>
                    <td>
                      <div class="action-drowp"><select id="cars" name="cars">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="fiat">Fiat</option>
                          <option value="audi">Audi</option>
                        </select></div>
                    </td>
                    <td>21 Aug 2018, 3:12 pm</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
