@import "../../../../SCSS/custom-variable";

.contant_sec {
  .left_col {
    padding-right: 70px;
    width: calc(100% - 440px);

    img {
      // padding-left: 75px;
      // float: left;
    }
  }

  .middle-body-section {
    padding-top: 85px;
  }

  .right_col {
    padding-top: 55px;
    width: 440px;
  }

  .form-group {
    .form-group-contant {
      width: 100%;
      float: left;
      text-align: center;
      margin-bottom: 0px;

      .check-title {
        font-size: $site-ttl;
        color: $black;
        margin-bottom: 48px;
        font-family: $RobotoRegular;
        text-transform: capitalize;
      }

      p {
        font-size: $box_txt;
        color: $black;
        font-family: $RobotoRegular !important;
        line-height: 20px;
      }

      .free-account {
        color: $btn_bg_danger;
        font-size: $box_txt;
        padding-top: 12px;

        a {
          color: $text-primary-color;
          text-decoration: underline;
        }
      }
    }

    .btn-success {
      margin-top: 20px;
      float: left;
      font-size: $box_btn;
      font-family: $RobotoMedium;

      @media(max-width:575px) {
        width: 100px;
        min-height: 40px;
        height: 40px;
        line-height: 40px;
      }
    }

    .btn-danger {
      margin-top: 20px;
      float: right;
      font-size: $box_btn;
      font-family: $RobotoMedium;

      @media(max-width:575px) {
        width: 100px;
        min-height: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .forgot-input {
    margin: 40px 0px 20px 0px;

    .form-control {

      max-width: 410px;
      margin: 0 auto;
      font-size: $inputtxt;
      font-family: $RobotoRegular;

      &::placeholder {
        color: $text-secondary-dark;
      }
    }

  }
}

@media(max-width:767px) {
  .contant_sec {

    .left_col {
      text-align: center;
      padding: 0;
      margin-top: 30px;
      width: 100%;

      img {
        padding-left: 0;
        float: none;
      }
    }

    .right_col {
      padding: 0px;
      margin: 0;
      float: left;
      width: 100%;
      padding-top: 30px;

      .btn-section {
        width: 100%;
      }
    }
  }
}

.reset-middle-section {
  padding-top: 45px !important;

  .right_col {
    padding-top: 105px;

    .check-title {
      color: $box_txt_color !important;
      font-size: $wlc_title !important;
      font-family: $RobotoRegular !important;
      margin-bottom: 40px !important;
    }

    p {
      color: $box_txt_color !important;
      font-size: $box_txt !important;
      font-family: $RobotoRegular !important;
    }

    .btn-section {
      display: flex;
      align-items: center;
    }

    .btn-success {
      margin-top: 125px !important;
    }
  }
}

.btn-section {
  width: 440px;
  margin: 0 auto;
}



















@media(min-width:1270px) {
  .logo_img {
    margin: 45px 0 0px;

    a {
      img {
        width: 260px;
        margin-left: -5px;
      }
    }
  }

  .middle-body-section {
    padding-top: 90px;

    .left_col {
      padding-right: 107px;

      img {
        width: 352px;
        height: 450px;
      }
    }

    .right_col {
      padding-top: 60px;
      margin-right: 28px;

      .free-account {
        padding-top: 17px;
      }

      .forgot-input {
        margin: 36px 0px 20px 0px;

        .form-control {
          margin: 0px 10px 0px 20px;
        }
      }

      .btn-section {

        .btn-success {
          margin-left: 4px;
        }

        .btn-danger {
          padding-left: 7px;
          width: 180px;
          margin-right: -5px;
        }
      }

    }

  }

  .reset-middle-section {

    .check-title {
      text-transform: capitalize;
    }

    .left_col {
      padding-right: 129px;

      img {
        width: 360px;
        height: 479px;
      }
    }

    .right_col {
      width: 410px;
      padding-top: 99px;
      margin-right: 0px;
      padding-left: 48px;

      .btn-section {
        justify-content: center;

        button {
          margin: 0;
          margin-top: 135px !important;
          text-transform: uppercase;
          padding: 0px 5px 0px 0px;
        }
      }

    }
  }

  .forgot-login-middle-section {
    .left_col {
      padding-right: 88px;

      img {
        width: 412px;
        height: 479px;
        margin-top: -40px;
      }
    }

    .right_col {
      margin-right: 0;
    }
  }

}

