<div class="contant_sec" *ngIf="!emailSent && isVerified">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="logo_img">
        <a href="#"><img src="../../assets/images/voxxi-logo.svg"></a>
      </div>
    </div>
  </div>

  <div class="middle-body-section">
    <div class="left_col">
      <img src="../assets/images/b.svg">
    </div>
    <div class="right_col">
      <form [formGroup]="forgotPasswordForm">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group-contant">
                <p class="check-title">Forgot password</p>
                <p>You are about to request a new password</p>
                <p>Submit your email to receive a link for a new password</p>
                <p class="free-account" *ngIf="emailNotRecognised">Your email is not recognised. Please
                  <a routerLink="/auth/sign-up">signup for a free account</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group p-50 forgot-input">
              <!-- oninput="this.value=this.value.replace(/^\s+/g, '')" -->
              <input type="email" class="form-control" id="email"
                placeholder="email" name="email" formControlName="email">
              <div *ngIf="submitted && form.email.errors">
                <div class="error-message" *ngIf="form.email.errors.required">Email Id is required </div>
                <div class="error-message" *ngIf="form.email.errors.email"> Enter valid Email Id </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center btn-section">
          <div class="col-lg-12">
            <div class="form-group p-50">

              <button type="submit" class="btn btn-success" [disabled]="submitted" (click)="send()">
                <span *ngIf="submitted" class="btn-loader open"></span>
                <span *ngIf="!submitted">Send</span> 
              </button>

              <button type="submit" class="btn btn-danger" routerLink="/auth/sign-in">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-support-links></app-support-links>

</div>

<!-- Forgot Password Link -->
<div class="contant_sec" *ngIf="emailSent && isVerified">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="logo_img">
          <a href="#"><img src="../../assets/images/voxxi-logo.svg"></a>
        </div>
      </div>
    </div>

  <div class="middle-body-section forgot-login-middle-section">
    <div class="left_col">
      <img src="../assets/images/Hero-forgot.png">
    </div>
    <div class="right_col">
      <form action="">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group-contant">
                <p class="check-title">Forgot password</p>
                <p>We have sent you a link to reset your password</p>
                <a href="#" routerLink="/auth/sign-in">Login here</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <app-support-links></app-support-links>
 
</div>

<div class="contant_sec" *ngIf="!isVerified && !emailSent">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="logo_img">
        <a href="#"><img src="../../assets/images/voxxi-logo.svg"></a>
      </div>
    </div>
  </div>

  <div class="middle-body-section reset-middle-section">
    <div class="left_col">
      <img src="../assets/images/Hero-forgot.png">
    </div>
    <div class="right_col">
      <form action="">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group-contant">
                <p class="check-title">Reset password</p>
                <p>Please Check your email to activate your account</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="form-group btn-section">
              <button type="submit" class="btn btn-success" routerLink="/auth/sign-in">Ok</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-support-links></app-support-links>
</div>
